<meta charset="utf-8">
<meta name="author" content="<%= author %>">
<meta name="description" content="<%= description %>">
<meta name="keywords" content="<%= keywords %>">
<title><%= title %></title>
<link rel="stylesheet" type="text/css" href="/stylesheets/site.css">
