<!DOCTYPE html>
<html>
<head>
  <%= erb :head, :locals => {
                    title: title,
                    author: author,
                    description: description,
                    keywords: keywords
                    } %>
</head>
<body>
  <%= erb :navbar %>
  <%= yield %>
  <%= erb :footer, :locals => { author: author} %>
</body>
</html>
